
@model List<Product> 
 <partial name="_Notfication" />
<h1> Product list</h1>
<div class="container"> 
    <div class="row pt-4" >
        <div class="col-6">
            <h2 class="text-primary"></h2>
        </div>
         <div class="col-6 text-end">
             <a asp-controller="Product"  asp-action="Upsert" class=" btn btn-primary" style=" margin-bottom:18px">
               <i class="bi bi-plus-square"></i>  Create New Product
             </a>
         </div>

    </div>
<table id="tblData" class="table table-bordered table-striped" style="width:100%; height:auto" >
    <thead>
  <tr>
         <th>Titel</th>
         <th>ISBN</th>
          <th>Auther</th>
         <th>price</th> 
         <th>Category</th>
         <th></th>
  </tr>
  </thead>

</table>
</div>
@section Scripts{
    <script src="~/js/Product.js"></script>
}